:host ::ng-deep .p-selectbutton {
    width: 500px;
}

:host ::ng-deep .p-buttonset .p-button {
    width: 100px;
    height: 50px;
    font-size: 12px;
}

:host ::ng-deep .p-buttonset .p-button:checked {
    border: 0;
}
:host ::ng-deep .p-button .p-button-label {
    display: none;
}
/* .justify-content-between div {
    width: 200px;
    text-align: center;
} */