<p>home</p>


<!-- <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar> -->


<!-- <p-button label="Submit" styleClass="p-button-link"></p-button>


<button pButton pRipple label="Submit" class="p-button-success"></button>


<p-toggleButton [(ngModel)]="checked" onLabel="Yes" offLabel="No"></p-toggleButton>



<p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>



<p-password [(ngModel)]="value" [feedback]="false" [inputStyle]="{'color':'red','font-size':'5rem','height':'50px','padding':'0 0 0.5rem 0'}"></p-password>

<div class="container">
    <div class="row">
        <p-card header="Shubham">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>
    </div>
    <div class="rowe">
        <p-scrollPanel [style]="{ width: '100%', height: '200px' }" styleClass="custombar1">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
        <p class="m-0">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
        </p-scrollPanel>
    </div>
</div> -->

<!-- <div class="container bg-light" style="height: 15000px;" > 
    <div class="row">
        <div class="col-lg-2 ">
            <a (mouseenter)="toggle()" (mouseleave)="toggle()" style="width: 100px;">about us</a> <br>
            <a (mouseenter)="toggle1()" (mouseleave)="toggle1()" style="width: 100px;">about us</a> <br>
            <a (mouseenter)="toggle2()" (mouseleave)="toggle2()" style="width: 100px;">about us</a> <br>
            <a (mouseenter)="toggle3()" (mouseleave)="toggle3()" style="width: 100px;">about us</a> <br>

        </div>
        <div class="col-lg-6">

            <div [ngClass]="toggleStyle ? 'show':'hide'" class="main">
                <p>Start editing to see some magic happen :5</p>
            </div>
            <div [ngClass]="toggleStyle1 ? 'show':'hide'" class="main">
                <p>Start editing to see some magic happen : 2</p>
            </div>
            <div [ngClass]="toggleStyle2 ? 'show':'hide'" class="main">
                <p>Start editing to see some magic happen : 3</p>
            </div>
            <div [ngClass]="toggleStyle3 ? 'show':'hide'" class="main">
                <p>Start editing to see some magic happen : 4</p>
            </div>
        </div>
    </div>





    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>



    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>


      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-bs-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<button id='gfg' type="button"
	class="btn btn-success"
	placement="top"
	ngbPopover="Angular ng bootstrap"
	popoverTitle=""
    placement="right">
	Click here
</button>



<router-outlet></router-outlet>